[Desktop Entry]
Version=1.0
Name=BSV-Desktop
Comment=Bitcoin SV Desktop Application
Exec=bsv-desktop
Icon=bsv-desktop
Terminal=false
Type=Application
Categories=Utility;
